.RegisterPage{
    border-radius: 0px;
    width: 1250px;
    height: 700px;
    padding-top: 100px;
    margin: auto;
}

.registerationFields{
padding: 10px;
display: flex;
flex-direction: column;
gap: 3px;
list-style-type: none;
}

input.number-to-text::-webkit-outer-spin-button,
input.number-to-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].number-to-text {
    -moz-appearance: textfield;
}