.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #ddd7d7;
    padding: 0.25rem;
    width: 100%;
    border-bottom: solid 1px gray;
  }
  
  .TopBar-left .logo .logo-img {
    border-radius: 10px;
    margin-left: 10px;
  }
  
  .TopBar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .nav-right-links{
    list-style-type: none;
    margin-right: 15px;
  }
    .nav-right-links ul li{
    display:inline;
  }
  .TopBar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .TopBar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  .SearchResultList{
    color: black;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 0rem;
    max-height: 300px;
    overflow-y: scroll;
    list-style-type: none;
  }
  .TopBar-right {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .linktext{
    color: rgb(0, 0, 0);
  }
  
